/* ---------------------------
    Buttons
--------------------------- */

.button,
button {
    display: inline-flex;
    align-items: center;
    padding: 12px 32px;
    font-weight: 600;
    color: white;
    background: var(--blue700);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    transition: all 200ms ease-out;
}

.button:hover,
button:hover {
    border-color: var(--blue800);
}

.button.active,
button.active {
    background: var(--blue900);
}

.button:not(.active),
button:not(.active) {
    cursor: pointer;
}

.button img,
button img {
    margin-right: 8px;
}

/* Secondary */

.button.secondary,
button.secondary {
    color: var(--blue700);
    background: white;
    border-color: var(--blue200);
}

.button.secondary:hover,
button.secondary:hover {
    border-color: var(--blue400);
}

.button.secondary.active,
button.secondary.active {
    background: var(--gray50);
    border-color: var(--blue100);
}

/* Delete */

.button.delete,
button.delete {
    background: var(--rose600);
}

.button.delete:hover,
button.delete:hover {
    border-color: var(--rose700);
}

.button.delete.active,
button.delete.active {
    background: var(--rose800);
}

/* ---------------------------
    Inputs and Fields
--------------------------- */

label {
    display: flex;
    font-weight: 500;
    line-height: 1.6;
}

input {
    display: flex;
    padding: 12px;
    border: 1px solid var(--gray300);
}

/* ---------------------------
    Fields
--------------------------- */

.field {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.field label {
    display: block;
}

.field input:not(input[type='date'],
input[type='list']) {
    width: 100%;
}

.field label.required:after {
    content: "*";
    color: red;
}

input.error {
    border: 1px solid red;
}

.error {
    color: red;
}

/* ---------------------------
    Modals
--------------------------- */

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.80);
    box-shadow: 0 4px 16px rgba(0,0,0,0.25);
    pointer-events: none;
    opacity: 0;
    transition: all 200ms ease-out;
}

.modal.shown {
    opacity: 1;
    pointer-events: initial;
}

.modal-box {
    padding: 32px;
    background: white;
    border-radius: var(--border-radius);
}

.modal-title {
    margin: 0;
}

.modal-content {
    margin: 8px 0 0;
}

.modal-actions {
    display: flex;
    margin: 24px 0 0;
}

.modal-actions button {
    margin-right: 16px;
    flex: 0 auto;
}