/* Layout */

#patient-info {
    width: 720px;
    padding: 32px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

/* Generic Box */

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--blue100);
    border-radius: var(--border-radius);
    background: white;
    margin: 18px 0;
}

.box-header {
    display: flex;
    padding: 16px 32px;
    color: var(--blue800);
    border-bottom: 1px solid var(--blue100);
}

.box-header h5 {
    margin: 0 0 0 8px;
}

.box-content {
    padding: 24px 32px 32px;
}

/* Form */

.patient-form-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.patient-form-actions button:not(:only-child) {
    margin-right: 16px;
}

